:root
{
  --cor-background-primary: #282a36;
  --cor-background-secundary: #44475a;
  --cor-letter-primary: #f8f8f2;
  --cor-letter-secundary: #f8f8f2b9;
  --cor-hover-link: #6272a4;
  --cor-line-primary: #ff79c6;
  --cor-line-secundary: #44475a;
}

*
{
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.blink::after
{
  animation: blink_animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes blink_animation
{
    0%{opacity: 100%;}
    55% {opacity: 100%;}
    65% {opacity: 0;}
    100% {opacity: 0;}
}