body
{
    background-color: var(--cor-background-primary);
    min-height: 160vh;
}

.presentation
{
    display: flex;
}

.information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    padding: 70px;
    border-bottom-left-radius: 20px;
    
    background-color: var(--cor-background-secundary);
    box-shadow: inset 3px -3px 8px #000000b4;
    
    h2
    {
        font-size: 3em;
        letter-spacing: 3px;
    
        margin-bottom: 50px;
        text-align: center;
        text-shadow: 3px 3px 6px #000000cc;
    }
    
    p
    {
        text-indent: 1.5em;
        text-align: justify;
    }
}

.intermediary
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}