body
{
    background-color: #282a36;
    min-height: 160vh;
}

.page
{
    display: flex;
    padding: 20px;
}

.content
{
    width: 100%;
    padding: 70px;
    section
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2
        {
            font-size: 3em;
            font-family: 'Bree Serif', serif;
            font-weight: 100;
            letter-spacing: 1px;

            margin-bottom: 50px;
            text-align: center;
        }

        p
        {
            text-indent: 1.5em;
            font-family: 'Noticia Text', serif;
            text-align: justify;
        }
    }
}

.container-menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 30px 50px;
    width: 30vw;
    
    font-family: 'Bree Serif', serif;

    border-right: 3px solid #44475a;

    .info
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;

        h1
        {
            font-weight: 100;
            font-size: 2em;
            text-align: center;

            letter-spacing: 2px;

            max-width: 70em;
        }
    }
    
    .menu
    {
        display: flex; 
        flex-direction: column;

        .item
        {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.3em;
            
            .link
            {
                display: relative;
                font-size: 1.3em;
                text-align: center;
                transition: .5s;
                position: relative;

                &::before
                {
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    visibility: hidden;
                    transform: scaleX(0);
                    background-color: red;
                    position: absolute;
                    transition: all .3s ease-in-out 0s;
                }
                &:hover:before
                {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}