.typed-text
{
    position: relative;
}
.typed-text::after
{
    content: '';

    position: absolute;
    background-color: var(--cor-line-primary);
    margin-left: 2px;
    opacity: 50%;

    height: 100%;
    width: 2px
}